<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="HTERP.Properties.Settings.HTERPCoonString" connectionString="Data Source=10.10.18.90;Initial Catalog=QFERP;User ID=sa" providerName="System.Data.SqlClient"/>
</connectionStrings>
<appSettings>
	<add key="DataDynamicsARLic" value="ttdown,ttdown,DD-APN-10-C001733,HYHPZZAMBBYZZ6733JZZ"/>

  <!--Message Channel-->
  <add key="MessageChannel" value="tcp://192.168.1.102:8086/BroadCastMsg"></add>



</appSettings>


  <system.web>
    <compilation targetFrameworkMoniker=".NETFramework,Version=v4.0"/>
  </system.web>


  <system.runtime.remoting>
    <customErrors mode="off"/>
  </system.runtime.remoting>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
        <!--assemblyIdentity name="DundasWinChart" publicKeyToken="A4C03DCE5DB22406" culture="neutral"/-->
        <!--bindingRedirect oldVersion="6.2.0.1740" newVersion="6.2.0.1740"/-->
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
